@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lexend', sans-serif;
  @apply bg-gray-50 dark:bg-[#15171F];
}

#root {
  @apply bg-gray-50 dark:bg-[#15171F];
}

.b {
  @apply font-bold text-slate-800 dark:text-[#deddda];
}

div[contenteditable=true] {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
}

.popover-visible {
  display: block;
}

.icon > svg {
  @apply text-slate-800 dark:text-slate-300;
}

.block {
  @apply w-full h-6;
}

.inner-block-container {
  @apply relative w-full min-h-[24px] text-[#deddda] text-base font-normal relative focus-within:outline-none whitespace-pre-wrap break-words;
}
/* empty:before:content-[attr(data-placeholder)] */

.block-element {
  @apply w-[100%] focus-within:outline-none
}

.image-container {
  @apply absolute left-[-25px];
}

.image-container > svg {
  @apply text-white;
}